@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body {
  font-family: 'Sniglet';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--pink-3);
  background-color: var(--pink-1);
  margin: 60px 3%;
  font-size: 18px;
  outline: none;

  --green-3: #749a90;
  --green-2: #90b5ab;
  --green-1: #9fc4ba;
  --pink-1: #f9b8be;
  --pink-2: #f1a8af;
  --pink-3: #d88c94;
}

html, body {
  overflow: hidden;
}

input {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  text-align: center;
  text-overflow: ellipsis;
  height: 30px;
  width: 120px;
  padding: 5px 20px;
  margin: 5px;
  border-width: 0px;
  border-radius: 20px;
  background: var(--pink-1);
  box-shadow: inset 5px 5px 10px #ae8185,
              inset -5px -5px 10px #ffeff7;
  box-sizing: content-box;
}

button {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  height: 40px;
  width: 70px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px #ae8185,
             -5px -5px 10px #ffeff7,
             inset 0px 0px 0px #976268,
             inset -0px -0px 0px #ffb6c0;
  box-sizing: border-box;
  transition-duration: 0.3s;
}

button.important {
  color: var(--green-3);
  height: 40px;
  width: 245px;
  border-radius: 15px;
  background-color: var(--green-1);
  box-shadow: 5px 5px 10px #6f8982,
             -5px -5px 10px #cffff2,
             inset 0px 0px 0px #516c65,
             inset -0px -0px 0px #97c8bb;
}

::placeholder {
  color: var(--pink-3);
  transform: skewX(-10deg);
  opacity: 0.6;
}

* {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.25, .1, .25, 1);
  pointer-events: all;
}

*:focus {
  outline: none;
}

:disabled {
  opacity: 0.3;
}

button:not([disabled=true]):hover {
  color: var(--pink-1);
  background-color: var(--pink-2);
  box-shadow: 2px 2px 4px #ae8185,
             -2px -2px 4px #ffeff7,
             inset 0px 0px 0px #976268,
             inset -0px -0px 0px #ffb6c0;
  transition-duration: 0.3s;
}

button:not([disabled=true]):active {
  color: var(--pink-2);
  background-color: var(--pink-3);
  box-shadow: 0px 0px 0px #ae8185,
             -0px -0px 0px #ffeff7,
             inset 2px 2px 4px #976268,
             inset -2px -2px 4px #ffb6c0;
  transition-duration: 0.1s;
}

button.important:not([disabled=true]):hover {
  color: var(--green-1);
  background-color: var(--green-2);
  box-shadow: 2px 2px 4px #6f8982,
             -2px -2px 4px #cffff2,
             inset 0px 0px 0px #516c65,
             inset -0px -0px 0px #97c8bb;
  transition-duration: 0.3s;
}

button.important:not([disabled=true]):active {
  color: var(--green-2);
  background-color: var(--green-3);
  box-shadow: 0px 0px 0px #6f8982,
             -0px -0px 0px #cffff2,
             inset 2px 2px 4px #516c65,
             inset -2px -2px 4px #97c8bb;
  transition-duration: 0.1s;
}

input:not([disabled=true]):hover {
  box-shadow: inset 2px 2px 4px #ae8185,
              inset -2px -2px 4px #ffeff7;
  transition-duration: 0.3s;
}

input:not([disabled=true]):focus {
  box-shadow: inset 2px 2px 4px #ae8185,
              inset -2px -2px 4px #ffeff7;
  transition-duration: 0.3s;
}

button.selected {
  color: var(--pink-1);
  background-color: var(--pink-3);
}

button.important.selected {
  color: var(--green-1);
  background-color: var(--green-3);
}

.banished {
  opacity: 0;
  pointer-events: none;
}

p {
  margin: 10px;
  font-size: 18px;
  line-height: 100%;
}

h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: 800;
  font-size: 50px;
  line-height: 100%;
}

h2, h3 {
  margin: 10px;
  font-weight: 400;
  line-height: 100%;
}

.i {
  margin: 0px;
  transform: skewX(-15deg);
  font-size: 18px;
}

#infoPanel {
  position: absolute;
  width: 94%;
  max-width: 340px;
  display: flex;
  flex-direction: column;
  bottom: 10px;
}

#playerBar {
  height: auto;
  margin-bottom: 20px;
}

#controlBar {
  padding-top: calc(100% / (330 / 60));
}

.infoBar {
  position: relative;
  color: var(--pink-3);
  width: 100%;
  border-width: 0px;
  border-radius: 30px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px #ae8185,
             -5px -5px 10px #ffeff7;
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
}

.infoBar p {
  padding: 15px 15px;
  margin: auto;
  text-align: left;
}

.infoBar input {
  height: calc(100% / (50 / 30));
  max-height: 30px;
  width: calc(100% / (330 / 120));
  max-width: 120px;
  padding: calc(100% / (330 / 5)) calc(100% / (330 / 20));
  margin: calc(100% / (330 / 5));
}

.infoBar button {
  height: calc(100% / (50 / 40));
  max-height: 40px;
  width: calc(100% / (330 / 70));
  max-width: 70px;
  padding: calc(100% / (330 / 5));
  margin: calc(100% / (330 / 5));
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: calc(100% / (330 / 5));
  box-sizing: border-box;
  display: flex;
}

#readyButton {
  position: absolute;
  bottom: 22.5px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

#notificationPanel {
  display: table;
  position: absolute;
  bottom: 0px;
  right: 15px;
  margin: 10px;
  padding: 5px;
  align-items: center;
  height: 50px;
}

#notificationPanel p {
  margin: 9px 5px;
  padding: 5px;
  transform: translateY(0px);
}

#notificationPanel p.banished {
  transform: translateY(50px);
}

#preGameFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#preGameFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#gameFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#gameFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#disconnectFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#disconnectFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#spotlightFrame {
  height: 50%;
  padding: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardFrame {
  height: calc(50% - 69px);
  padding: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 10px #ae8185, inset -5px -5px 10px #ffeff7;
  border-radius: 30px;
}

#cardFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

.card {
  width: 200px;
  height: 250px;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  border-radius: 20px;
  border-color: #EEEEEE;
  background-color: #EEEEEE;
  box-shadow: 5px 5px 10px #444444;
  transition-duration: 0.3s;
}

.card p {
  pointer-events: none;
}

.card p:not([class="cardText"], [class="cardEmoji"]) {
  color: var(--green-1);
  opacity: 0;
}

.card.selected {
  border-width: 5px;
  border-color: var(--green-1);
}

#responseCard {
  border-width: 5px;
  border-color: var(--green-1);
}

.card.selected p {
  color: var(--green-1);
  opacity: 1;
}

#responseCard p {
  color: var(--green-1);
  opacity: 1;
}

.card:not([id="responseCard"]):hover {
  border-color: #FFFFFF00;
  box-shadow: 2px 2px 4px #444444;
  transition-duration: 0.3s;
}

.cardText {
  text-align: left;
  margin: 12px;
  margin-right: 0px;
  height: 198px;
  float: left;
  width: 140px;
  color: #444444;
  font-weight: 400;
  font-size: 20px;
}

.cardEmoji {
  font-size: 22px;
  width: 30px;
  height: 30px;
  margin: 12px;
  margin-left: 6px;
  margin-bottom: 180px;
  float: right;
  color: #444444;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 4px;
}