@font-face {
  font-family: 'Sniglet';
  src: url('/fonts/Sniglet-Regular.ttf');
}

@font-face {
  font-family: 'Sniglet';
  src: url('/fonts/Sniglet-ExtraBold.ttf');
  font-weight: bold;
}

html::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

body {
  font-family: 'Sniglet';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--pink-3);
  background-color: var(--pink-1);
  margin: 60px 3%;
  font-size: 18px;
  transition-duration: 0.3s;

  --green-3: #749a90;
  --green-2: #90b5ab;
  --green-1: #9fc4ba;
  --pink-1: #f9b8be;
  --pink-2: #f1a8af;
  --pink-3: #d88c94;

  --white: #eeeeee;
  --black: #444444;
  --universal-white: #eeeeee;
  --universal-black: #444444;
  --opaque-white: 238, 238, 238;
}

html.dev body {
  --green-3: #749a90;
  --green-2: #90b5ab;
  --green-1: #9fc4ba;
  --pink-1: #9fc4ba;
  --pink-2: #90b5ab;
  --pink-3: #749a90;

  --white: #444444;
  --black: #eeeeee;
  --opaque-white: 68, 68, 68;
}

html.dev::after {
  animation: blurAnimation 1.5s cubic-bezier(.25, .1, .25, 1) 1;
}

@keyframes blurAnimation {
  0% {
    backdrop-filter: blur(0px) brightness(100%)
  }
  10% {
    backdrop-filter: blur(10px) brightness(130%)
  }
  100% {
    backdrop-filter: blur(0px) brightness(100%)
  }
}

html, body {
  overflow: hidden;
}

input {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  text-align: center;
  text-overflow: ellipsis;
  height: 30px;
  width: 120px;
  padding: 5px 20px;
  margin: 5px;
  border-width: 0px;
  border-radius: 20px;
  background: var(--pink-1);
  box-shadow: inset 5px 5px 10px,
              inset -5px -5px 10px var(--white);
  box-sizing: content-box;
}

button {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  height: 40px;
  width: 70px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 20px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px,
             -5px -5px 10px var(--white),
             inset 0px 0px 0px,
             inset -0px -0px 0px var(--white);
  box-sizing: border-box;
  transition-duration: 0.3s;
  -webkit-user-drag: none;
  user-select: none;
}

button.important {
  color: var(--green-3);
  height: 40px;
  width: 240px;
  border-radius: 15px;
  background-color: var(--green-1);
  box-shadow: 5px 5px 10px,
             -5px -5px 10px var(--white),
             inset 0px 0px 0px,
             inset -0px -0px 0px var(--white);
}

img.icon {
  height: 30px;
  width: 30px;
  -webkit-user-drag: none;
  user-select: none;
}

::placeholder {
  color: var(--pink-3);
  transform: skewX(-10deg);
  opacity: 0.6;
}

* {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.25, .1, .25, 1);
  pointer-events: visible;
}

*:focus {
  outline: none;
}

:disabled {
  opacity: 0.3;
}

button:not([disabled=true]):hover {
  color: var(--pink-1);
  background-color: var(--pink-2);
  box-shadow: 2px 2px 4px,
             -2px -2px 4px var(--white),
             inset 0px 0px 0px,
             inset -0px -0px 0px var(--white);
  transition-duration: 0.3s;
}

button:not([disabled=true]):active {
  color: var(--pink-2);
  background-color: var(--pink-3);
  box-shadow: 0px 0px 0px,
             -0px -0px 0px var(--white),
             inset 5px 5px 10px,
             inset -5px -5px 10px var(--white);
  transition-duration: 0.1s;
}

button.important:not([disabled=true]):hover {
  color: var(--green-1);
  background-color: var(--green-2);
  box-shadow: 2px 2px 4px,
             -2px -2px 4px var(--white),
             inset 0px 0px 0px,
             inset -0px -0px 0px var(--white);
  transition-duration: 0.3s;
}

button.important:not([disabled=true]):active {
  color: var(--green-2);
  background-color: var(--green-3);
  box-shadow: 0px 0px 0px,
             -0px -0px 0px var(--white),
             inset 5px 5px 10px,
             inset -5px -5px 10px var(--white);
  transition-duration: 0.1s;
}

input:not([disabled=true]):hover {
  box-shadow: inset 2px 2px 4px,
              inset -2px -2px 4px var(--white);
  transition-duration: 0.3s;
}

input:not([disabled=true]):focus {
  box-shadow: inset 2px 2px 4px,
              inset -2px -2px 4px var(--white);
  transition-duration: 0.3s;
}

button.selected {
  color: var(--pink-1);
  background-color: var(--pink-3);
}

button.important.selected {
  color: var(--green-1);
  background-color: var(--green-3);
}

.banished {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.banished * {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

p {
  margin: 10px;
  font-size: 18px;
  line-height: 100%;
}

h1 {
  margin: 0px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 50px;
  line-height: 100%;
}

h2, h3 {
  margin: 10px;
  font-weight: normal;
  line-height: 100%;
}

#segmentText:not(.i) {
  margin: 0px auto 5px auto;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 1000px;
}

.i {
  margin: 0px auto 5px auto;
  width: fit-content;
  padding: 5px 20px;
  font-size: 18px;
  background-color: var(--pink-3);
  border-radius: 1000px;
  color: var(--pink-1);
}

#infoPanel {
  position: absolute;
  width: 94%;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end
}

.infoBar {
  position: relative;
  color: var(--pink-3);
  height: 60px;
  width: 420px;
  border-width: 0px;
  border-radius: 30px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px,
             -5px -5px 10px var(--white);
  box-sizing: border-box;
  align-items: center;
  justify-content: left;
}

#controlBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  overflow: hidden;
}

#controlBar.opened {
  height: 240px;
}

#controlBar > :not(div, #nameText) {
  margin: 7.5px 20px;
}

#nameText {
  color: var(--pink-1);
  text-stroke: 2px var(--pink-3);
  -webkit-text-stroke: 2px var(--pink-3);
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  width: calc(100% - 40px);
  margin: 7.5px 20px 0px 20px;
  padding-bottom: 7.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.infoWrapper {
  padding: 5px;
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
}

#playButton {
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}

#interactionPanel {
  margin: 0px auto;
  height: 60px;
  max-width: calc(100% - 1040px);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

#interactionPanel:not(.banished) {
  margin: auto;
  height: 240px;
}

button.interaction {
  font-size: 30px;
  height: 60px;
  width: 90px;
  margin: 15px;
}

button.interaction.simulatedActive {
  color: var(--green-2);
  background-color: var(--green-3);
  box-shadow: 0px 0px 0px,
             -0px -0px 0px var(--white),
             inset 5px 5px 10px,
             inset -5px -5px 10px var(--white);
  transition-duration: 0.1s;
}

button.interaction.simulatedActive:hover {
  color: var(--green-2);
  background-color: var(--green-3);
  box-shadow: 0px 0px 0px,
             -0px -0px 0px var(--white),
             inset 5px 5px 10px,
             inset -5px -5px 10px var(--white);
  transition-duration: 0.1s;
}

#playerBar {
  padding: 3.75px;
  margin-right: 0px;
  border-radius: 30px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
}

#playerBar.opened {
  height: 240px;
}

#playerBar * {
  pointer-events: none;
  user-select: none;
}

.playerMarker {
  --percentageOfLeadersPoints: 100%;
  position: relative;
  margin: 3.75px;
  height: 225px;
  width: 45px;
  display: flex;
  flex-direction: column-reverse;
  background-image: linear-gradient(0deg, var(--pink-3) calc(var(--percentageOfLeadersPoints) - 10%), var(--pink-2) calc(var(--percentageOfLeadersPoints) + 20%));
  border-radius: 22.5px;
  align-items: center;
}

.playerMarker :nth-child(1) {
  margin: 0px;
  height: 45px;
  width: 45px;
  background-color: var(--white);
  background-size: 45px;
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 22.5px;
  box-sizing: border-box;
  color: var(--pink-1);
  text-stroke: 1px var(--pink-3);
  -webkit-text-stroke: 1px var(--pink-3);
  font-weight: bold;
  font-size: 25px;
  text-shadow: var(--pink-1) 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerMarker :nth-child(2) {
  color: var(--pink-1);
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  text-align: left;
  margin: 10px 13.5px 10px 13.5px;
  height: calc(100% - 45px - 37.5px - 10px);
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.playerMarker .icon {
  background-color: var(--pink-1);
  margin-top: 7.5px;
  margin-bottom: auto;
  border-radius: 15px;
}

#notificationPanel {
  display: table;
  position: absolute;
  bottom: 0px;
  right: 15px;
  margin: 10px;
  padding: 5px;
  align-items: center;
  height: 50px;
}

#notificationPanel p {
  margin: 9px 5px;
  padding: 5px;
  transform: translateY(0px);
}

#notificationPanel p.banished {
  transform: translateY(50px);
}

#preGameFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#preGameFrame div {
  display: inline-flex;
}

#gameFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#disconnectFrame {
  position: absolute;
  top: 110px;
  left: 3%;
  right: 3%;
  bottom: 80px;
  padding: 20px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#segmentFrame {
  height: 45%;
  margin-bottom: 20px;
  display: flex;
}

#spotlightFrame {
  height: 100%;
  width: calc(65% - 20px);
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  background-color: var(--pink-2);

  --numCards: 0;
  --cardDownshift: 0px;
}

#dynamicFrame {
  position: relative;
  height: 100%;
  width: 35%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 5px 5px 10px,
              -5px -5px 10px var(--white);
  transition-duration: 0.3s
}

#dynamicFrame * {
  pointer-events: none;
  user-select: none;
  transition-duration: 0s;
  transition: opacity 0.3s;
}

#dynamicFrameBackground {
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--black);
  background-image: url('/banners/1.png');
  background-blend-mode: color-burn;
  background-size: 300px;
  display: block;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

#dynamicFrame[promptType='Standard'] #spotlightText {
  color: var(--white);
  text-stroke: 2px var(--black);
  -webkit-text-stroke: 2px var(--black);
  font-weight: bold;
  font-size: 25px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  margin: auto;
  height: fit-content;
  text-shadow: var(--black) 0px 0px 20px;
}

#dynamicFrame[promptType='Standard'] #spotlightContext {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: var(--pink-1);
  text-stroke: 1px var(--pink-3);
  -webkit-text-stroke: 1px var(--pink-3);
  font-weight: bold;
  font-size: 25px;
  text-shadow: var(--pink-1) 0px 0px 10px;
}

#dynamicFrame[promptType='Review'] #spotlightForeground {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background-color: rgb(var(--opaque-white), 0.9);
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius:  48px 48px 48px 16px;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
}

#dynamicFrame[promptType='Review'] #spotlightDecor {
  position: absolute;
  bottom: 45px;
  left: 15px;
  height: 45px;
  width: 45px;
  background-color: var(--white);
  background-size: 45px;
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 100%;
  box-sizing: border-box;
  color: var(--pink-1);
  text-stroke: 1px var(--pink-3);
  -webkit-text-stroke: 1px var(--pink-3);
  font-weight: bold;
  font-size: 25px;
  text-shadow: var(--pink-1) 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dynamicFrame[promptType='Review'] #spotlightText {
  color: var(--black);
  font-size: 25px;
  position: absolute;
  left: 50px;
  right: 50px;
  top: 50px;
  letter-spacing: 2px;
  word-spacing: 4px;
  line-height: 1.8;
}

#dynamicFrame[promptType='Review'] #spotlightContext {
  color: var(--black);
  font-size: 20px;
  position: absolute;
  bottom: 12.5px;
  left: 50px;
  margin: 12.5px 0px;
  width: calc(100% - 120px);
  text-align: left;
}

#dynamicFrame[promptType='Conversation'] #spotlightForeground {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background-color: rgb(var(--opaque-white), 0.9);
  border-width: 4px;
  border-color: var( --black);
  border-style: solid;
  border-radius: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
}

#dynamicFrame[promptType='Conversation'] #spotlightDecor {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 45px;
  width: 45px;
  background-color: var(--white);
  background-size: 45px;
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 100%;
  box-sizing: border-box;
  color: var(--pink-1);
  text-stroke: 1px var(--pink-3);
  -webkit-text-stroke: 1px var(--pink-3);
  font-weight: bold;
  font-size: 25px;
  text-shadow: var(--pink-1) 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dynamicFrame[promptType='Conversation'] #spotlightText {
  color: var(--pink-3);
  background-color: var(--pink-1);
  border-radius: 22.5px 22.5px 5px 22.5px;
  font-size: 20px;
  position: absolute;
  padding: 8px 12px;
  max-width: 250px;
  height: min-content;
  text-align: left;
  bottom: 30px;
  right: 30px;
  margin: 0;
}

#dynamicFrame[promptType='Conversation'] #spotlightContext {
  color: var(--black);
  font-size: 15px;
  position: absolute;
  top: 65px;
  left: -4px;
  width: 65px;
  margin: 10px;
  overflow-wrap: break-word;
}

#dynamicFrame[promptType='Conversation'] .spotlightTextElement {
  --numElements: 0;
  color: var(--white);
  background-color: var(--pink-3);
  border-radius: 22.5px 22.5px 22.5px 5px;
  font-size: 20px;
  position: relative;
  padding: 8px 12px;
  max-width: max-content;
  width: 250px;
  overflow: unset;
  text-align: left;
  top: 25.5px;
  left: 75px;
  margin: 2px 0px;
}

#dynamicFrame[promptType='Newsflash'] #spotlightForeground {
  position: absolute;
  height: 89px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  background-color: rgb(var(--opaque-white), 0.9);
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 16px;
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(3px);
}

#dynamicFrame[promptType='Newsflash'] #spotlightDecor {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 90px;
  width: 90px;
  background-color: var(--white);
  background-size: 45px;
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 100%;
  box-sizing: border-box;
  color: var(--pink-1);
  text-stroke: 1px var(--pink-3);
  -webkit-text-stroke: 1px var(--pink-3);
  font-weight: bold;
  font-size: 50px;
  text-shadow: var(--pink-1) 0px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dynamicFrame[promptType='Newsflash'] #spotlightText {
  color: var(--black);
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  position: absolute;
  bottom: 66px;
  left: 30px;
  padding: 10px 16px;
  margin: 0px;
  width: calc(100% - 60px);
  min-height: 53px;
  text-align: center;
  background-color: var(--white);
  border-width: 4px;
  border-color: var(--black);
  border-style: solid;
  border-radius: 16px;
  box-sizing: border-box;
  
}

#dynamicFrame[promptType='Newsflash'] #spotlightContext {
  color: var(--black);
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 30px;
  padding: 6px 20px;
  width: min-content;
  min-width: calc(100% - 40px);
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  animation: scrollingHeadlineAnimation 20s linear infinite;
  animation-delay: -10s;
}

#dynamicFrame[promptType='Newsflash'] #spotlightContext2 {
  color: var(--black);
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 30px;
  padding: 6px 20px;
  width: min-content;
  min-width: calc(100% - 40px);
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  animation: scrollingHeadlineAnimation 20s linear infinite;
}

@keyframes scrollingHeadlineAnimation {
  0% {
    transform: translateX(calc(100% - 30px));
  }
  100% {
    transform: translateX(calc(-100% - 30px));
  }
}

#grid {
  position: absolute;
}

#cardFrame {
  height: calc(55% - 61px);
  padding: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 10px, inset -5px -5px 10px var(--white);
  border-radius: 30px;

  --numCards: 0
}

.card {
  width: 200px;
  height: 250px;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  border-radius: 20px;
  border-color: var(--white);
  background-color: var(--white);
  box-shadow: 5px 5px 10px;
  transition-duration: 0.3s;
}

.card:nth-child(1) {
  transform: translateY(calc((max(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / 4) * (min(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 0 - 2deg))
}
.card:nth-child(2) {
  transform: translateY(calc((max(1 - (var(--numCards) - 1) / 2, -1 + (var(--numCards) - 1) / 2) / 4) * (min(1 - (var(--numCards) - 1) / 2, -1 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 1 - 2deg))
}
.card:nth-child(3) {
  transform: translateY(calc((max(2 - (var(--numCards) - 1) / 2, -2 + (var(--numCards) - 1) / 2) / 4) * (min(2 - (var(--numCards) - 1) / 2, -2 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 2 - 2deg))
}
.card:nth-child(4) {
  transform: translateY(calc((max(3 - (var(--numCards) - 1) / 2, -3 + (var(--numCards) - 1) / 2) / 4) * (min(3 - (var(--numCards) - 1) / 2, -3 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 3 - 2deg))
}
.card:nth-child(5) {
  transform: translateY(calc((max(4 - (var(--numCards) - 1) / 2, -4 + (var(--numCards) - 1) / 2) / 4) * (min(4 - (var(--numCards) - 1) / 2, -4 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 4 - 2deg))
}
.card:nth-child(6) {
  transform: translateY(calc((max(5 - (var(--numCards) - 1) / 2, -5 + (var(--numCards) - 1) / 2) / 4) * (min(5 - (var(--numCards) - 1) / 2, -5 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 5 - 2deg))
}
.card:nth-child(7) {
  transform: translateY(calc((max(6 - (var(--numCards) - 1) / 2, -6 + (var(--numCards) - 1) / 2) / 4) * (min(6 - (var(--numCards) - 1) / 2, -6 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 6 - 2deg))
}
.card:nth-child(8) {
  transform: translateY(calc((max(7 - (var(--numCards) - 1) / 2, -7 + (var(--numCards) - 1) / 2) / 4) * (min(7 - (var(--numCards) - 1) / 2, -7 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -10px)) rotate(calc(4deg / (var(--numCards) - 1) * 7 - 2deg))
}

.card p {
  transition-duration: 0.3s;
  pointer-events: none;
  user-select: none;
}

.card.selected {
  border-width: 5px;
  border-color: var(--green-1);
}

.responseCard {
  margin: 0px;
  position: absolute;
  pointer-events: all;
  transition: 0.3s 0.3s transform, 0.3s opacity;
}

.responseCard:nth-child(1) { /* 12.5px*/
  transform: translateY(calc((max(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / 4) * (min(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 0 - 50px * (var(--numCards) - 1))) rotate(calc(20deg / (var(--numCards) - 1) * 0 - 10deg));
  z-index: 8;
}
#spotlightFrame[style='--numCards: 1;'] .responseCard:nth-child(1) {
  transform: translateY(calc((max(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / 4) * (min(0 - (var(--numCards) - 1) / 2, -0 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 0 - 50px * (var(--numCards) - 1)));
  z-index: 8;
}
.responseCard:nth-child(2) {
  transform: translateY(calc((max(1 - (var(--numCards) - 1) / 2, -1 + (var(--numCards) - 1) / 2) / 4) * (min(1 - (var(--numCards) - 1) / 2, -1 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 1 - 50px * (var(--numCards) - 1))) rotate(calc(20deg / (var(--numCards) - 1) * 1 - 10deg));
  z-index: 7;
}
.responseCard:nth-child(3) {
  transform: translateY(calc((max(2 - (var(--numCards) - 1) / 2, -2 + (var(--numCards) - 1) / 2) / 4) * (min(2 - (var(--numCards) - 1) / 2, -2 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 2 - 50px * (var(--numCards) - 1))) rotate(calc(20deg / (var(--numCards) - 1) * 2 - 10deg));
  z-index: 6;
}
.responseCard:nth-child(4) {
  transform: translateY(calc((max(3 - (var(--numCards) - 1) / 2, -3 + (var(--numCards) - 1) / 2) / 4) * (min(3 - (var(--numCards) - 1) / 2, -3 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 3 - 50px * (var(--numCards) - 1))) rotate(calc(30deg / (var(--numCards) - 1) * 3 - 15deg));
  z-index: 5;
}
.responseCard:nth-child(5) { /* -37.5*/
  transform: translateY(calc((max(4 - (var(--numCards) - 1) / 2, -4 + (var(--numCards) - 1) / 2) / 4) * (min(4 - (var(--numCards) - 1) / 2, -4 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 4 - 50px * (var(--numCards) - 1))) rotate(calc(30deg / (var(--numCards) - 1) * 4 - 15deg));
  z-index: 4;
}
.responseCard:nth-child(6) { /* -37.5*/
  transform: translateY(calc((max(5 - (var(--numCards) - 1) / 2, -5 + (var(--numCards) - 1) / 2) / 4) * (min(5 - (var(--numCards) - 1) / 2, -5 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 5 - 50px * (var(--numCards) - 1))) rotate(calc(30deg / (var(--numCards) - 1) * 5 - 15deg));
  z-index: 3;
}
.responseCard:nth-child(7) { /* -37.5*/
  transform: translateY(calc((max(6 - (var(--numCards) - 1) / 2, -6 + (var(--numCards) - 1) / 2) / 4) * (min(6 - (var(--numCards) - 1) / 2, -6 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 6 - 50px * (var(--numCards) - 1))) rotate(calc(30deg / (var(--numCards) - 1) * 6 - 15deg));
  z-index: 2;
}
.responseCard:nth-child(8) { /* -37.5*/
  transform: translateY(calc((max(7 - (var(--numCards) - 1) / 2, -7 + (var(--numCards) - 1) / 2) / 4) * (min(7 - (var(--numCards) - 1) / 2, -7 + (var(--numCards) - 1) / 2) / (var(--numCards) - 1)) * (var(--numCards) - 1) / 2 * -30px + var(--cardDownshift))) translateX(calc(100px * (var(--numCards) - 1) / (var(--numCards) - 1) * 7 - 50px * (var(--numCards) - 1))) rotate(calc(30deg / (var(--numCards) - 1) * 7 - 15deg));
  z-index: 1;
}

.card.selected p {
  color: var(--green-1);
  opacity: 1;
}

.responseCard p {
  opacity: 1;
}

.card:not(.responseCard):hover {
  border-color: #FFFFFF00;
  box-shadow: 2px 2px 4px;
  transition-duration: 0.3s;
}

#spotlightFrame:hover {
  --cardDownshift: 200px;
}

.responseCard:hover {
  transform: translateY(-20px);
}

.cardText {
  text-align: left;
  margin: 12px;
  margin-right: 0px;
  height: 198px;
  float: left;
  width: 140px;
  color: var(--black);
  font-size: 20px;
}

.cardContext {
  text-align: right;
  margin: 12px;
  color: var(--black);
}

.card:not(.responseCard):hover .cardContext {
  opacity: 0;
}

.cardEmoji {
  font-size: 30px;
  width: 30px;
  height: 30px;
  margin: 12px;
  margin-left: 6px;
  margin-bottom: 180px;
  float: right;
  color: var(--black);
}

.cardEmoji img.emoji {
  margin: 0px;
}

.reactionEffect {
  position: absolute;
  bottom: 67.5px;
  margin: 0px;
  transform: scale(0.8);
  opacity: 0;
  z-index: 1000;
  animation: reactionAnimation 2s cubic-bezier(.25, .1, .25, 1) 1
}

@keyframes reactionAnimation {
  0% {
    transform: translateY(0px) scale(0.8);
    opacity: 1
  }
  100% {
    transform: translateY(-200px) scale(1);
    opacity: 0
  }
}

.reactionEffect img.emoji {
  margin: 0px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .1em 0 .1em; /* used to be: 0 .05em 0 .1em; */
  vertical-align: -0.1em;
  filter: drop-shadow(0px 0px 1px)
}