@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body {
  font-family: 'Sniglet';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--pink-3);
  background-color: var(--pink-1);
  margin: 60px 15px;
  font-size: 18px;
  outline: none;

  --green-3: #749a90;
  --green-2: #90b5ab;
  --green-1: #9fc4ba;
  --pink-1: #f9b8be;
  --pink-2: #f1a8af;
  --pink-3: #d88c94;
}

input {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  text-align: center;
  text-overflow: ellipsis;
  height: 30px;
  width: 120px;
  padding: 5px 20px;
  margin: 5px;
  border-width: 0px;
  border-radius: 30px;
  background: var(--pink-1);
  box-shadow: inset 5px 5px 10px #d49ca2,
              inset -5px -5px 10px #ffd4db;
  box-sizing: content-box;
}

button {
  font-family: 'Sniglet';
  font-size: 15px;
  color: var(--pink-3);
  height: 30px;
  width: 60px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 30px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px #d49ca2,
             -5px -5px 10px #ffd4db;
  box-sizing: content-box;
}

button.important {
  color: var(--green-3);
  height: 30px;
  width: 225px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: var(--green-1);
  box-shadow: 5px 5px 10px #87a79e,
             -5px -5px 10px #b7e1d6;
}

* {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.25, .1, .25, 1);
  pointer-events: all;
}

*:focus {
  outline: none;
}

:disabled {
  opacity: 0.4;
}

:disabled:hover {
  color: var(--pink-3);
  background-color: var(--pink-1);
}

button:hover {
  color: var(--pink-1);
  background-color: var(--pink-2);
}

button.important:hover {
  color: var(--green-1);
  background-color: var(--green-2);
}

button.selected {
  color: var(--pink-1);
  background-color: var(--pink-3);
}

button.important.selected {
  color: var(--green-1);
  background-color: var(--green-3);
}

.banished {
  opacity: 0;
  pointer-events: none;
}

p {
  font-size: 18px;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

h1 {
  font-weight: 800;
  font-size: 50px;
  margin: 10px;
}

h2, h3 {
  font-weight: 400;
}

.i {
  margin: 0px;
  transform: skewX(-15deg);
  font-size: 18px;
}

#infoPanel {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 10px;
}

#playerBar {
  height: auto;
  padding: 5px 5px;
}

.infoBar {
  color: var(--pink-3);
  height: 40px;
  padding: 5px 5px;
  margin: 10px;
  border-width: 0px;
  border-radius: 30px;
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px #d49ca2,
             -5px -5px 10px #ffd4db;
  box-sizing: content-box;
  display: table;
  align-items: center;
  justify-content: left;
}

.infoBar p {
  padding: 10px 15px;
  margin: auto;
  text-align: left;
}

#readyButton {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#preGameFrame {
  position: absolute;
  top: 110px;
  left: 10%;
  right: 10%;
  bottom: 60px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

#preGameFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#gameFrame {
  position: absolute;
  top: 110px;
  left: 10%;
  right: 10%;
  bottom: 60px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

#gameFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#disconnectFrame {
  position: absolute;
  top: 110px;
  left: 10%;
  right: 10%;
  bottom: 60px;
  padding: 5px 5px;
  margin: 5px;
  border-width: 0px;
  border-radius: 30px;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

#disconnectFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

#cardFrame {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardFrame.banished * {
  opacity: 0;
  pointer-events: none;
}

.card {
  width: 200px;
  height: 250px;
  margin: auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: #444444;
  border-radius: 20px;
  background-color: #EEEEEE;
  box-shadow: 5px 5px 10px #444444,
             -5px -5px 10px #EEEEEE;
}

.card:not([id="responseCard"]):hover {
  background-color: var(--pink-1);
  box-shadow: 5px 5px 10px #d49ca2,
             -5px -5px 10px #ffd4db;
}

.card p {
  pointer-events: none;
}

.cardText {
  text-align: left;
  margin: 12px;
  margin-right: 0px;
  float: left;
  width: 140px;
  color: #444444;
  font-weight: 400;
  font-size: 20px;
}

.cardEmoji {
  width: 30px;
  height: 30px;
  margin: 12px;
  margin-left: 6px;
  float: right;
  color: #444444;
}